{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Meta information -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>{{ settings.PLATFORM_NAME }}</title>

    <!-- Bootstrap core CSS -->
    <link href="" rel="stylesheet">
    
    <!-- Online -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"><!-- bootstrap css -->
    
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/templatemo-chain-app-dev.css' %}">
    <link rel="stylesheet" href="{% static 'css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'lib/lms/css/intlTelInput.css' %}">



	{% block pagetitle %}
		<title>{{ settings.PLATFORM_NAME }} Management</title>
	{% endblock %}

	{% block headextras %}{% endblock %}
	{% block style_extra %}{% endblock %}
</head>
<body>

	{% include "lms/base_header.html" %}

	{% block content %}{% endblock %}

	{% include "lms/base_footer.html" %}


    <!-- Scripts -->
    <script type="text/javascript" src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/owl-carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/animation.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/imagesloaded.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

    <script type="text/javascript" src="{% static 'vendor/purecounter/purecounter.js' %}"></script>



    <script type="text/javascript" src="{% static 'vendor/typed.js/typed.min.js' %}"></script>

    <script src="{% static 'lib/cms/js/underscore.js' %}"></script>
    <script src="{% static 'lib/lms/js/intlTelInput.min.js' %}"></script>
    <script src="{% static 'lib/lms/js/intlTelInput-jquery.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/login_register/login-register.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/signup_mobile_common.js' %}"></script>

    

	{% block js_extra %}{% endblock %}
</body>

</html>
